<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pac-Man</title>
    <link rel="stylesheet" href="../public/CSS/styles.css">
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <h1>
        GAMESCORE
    </h1>
    
    <div id="game-area">
        <div id="pacman"></div>
        <div id="pellets-container"></div>
    </div>
    
    <div id="score-board">
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
    </div>
    <div class="maze" style="top: 50px; left: 50px; width: 100px; height: 100px;"></div>
    <div id="pellets-container">
    </div>

    
    <button id="start-button">PLAY</button>
    <div id="score">Score: 0</div>

    <script src="../public/js/script.js"></script>
</body>
</html>
